


.Home {
    display: flex;
    flex-direction: column;
}

.Home .bg-ddb {
    background-color: #020e13;
}
.Home .bg-db {
    background-color: #103237;
}
.Home .bg-w {
    background-color: white;
}

.Home .s-w {
    box-shadow: 1px 1px 8px rgb(188, 188, 188);
}
.Home .s-db {
    box-shadow: 1px 1px 8px#103237;
}

.Home .b-w {
    border-bottom: 2px solid white;
}
.Home .b-b {
    border-bottom: 2px solid black;
}

.Home .t-b {
    color: black;
}
.Home .t-w {
    color: white;
}
.Home .t-g {
    color: rgba(255, 255, 255, 0.636);
}


.Home .sec {
    width: 100vw;
    padding: 50px 10% 50px 10%;
    box-sizing: border-box;
    
}

.Home .sTitle {
    width: fit-content;
    display: flex;
    gap: 10px;
}
.Home .sTitle h2 {
    font-size: 1.7em;
    padding-bottom: 8px;
}


.Home .sBody {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 40px;
    gap: 30px;
}
.Home .sBodyCard {
    overflow: hidden;
    border-radius: 6px;
}
.Home .cardImg {
    overflow: hidden;
    height: 300px;
    width: 300px;
}
.Home .cardImg img {
    width: 100%;
    height: auto;
}
.Home .cardBody {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Home .cardBody h2 {
    font-size: 1.3rem;
}

.Home .sBodyTeam {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 40px;
    gap: 30px;
}
.Home .sBodyTeam .banner {
    padding: 20px;
    width: 50%;
    border-radius: 6px;
}