

.TeamsGet {
    display: flex;
    min-height: 100vh;
    background-color: rgb(244, 244, 244);
    box-sizing: content-box;
}

.TeamsGet .Infos {
    width: 100vw;
    padding: 40px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-sizing: content-box;
}

.teamsTitle {
    display: flex;
    border-bottom: 1px solid rgba(84, 84, 84, 0.303);
}
.teamsTitle h3 {
    padding: 10px 2px 10px 2px;
}

.teamsInfo {
    overflow: scroll;
    scroll-behavior: smooth;
    max-height: calc(100vh - 200px);
}

.teams {
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 1px 1px 8px rgb(188, 188, 188); */
}
.teams .c1 {
    width: 30%;
    box-sizing: border-box;
    flex-shrink: 0;
}
.teams .c2 {
    width: 20%;
    box-sizing: border-box;
    flex-shrink: 0;
}
.teams .c4 {
    width: 17%;
    box-sizing: border-box;
    flex-shrink: 0;
}
.teams .c3 {
    width: 20%;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    gap: 20px;
}

.team {
    display: flex;
    border-bottom: 1px solid rgba(84, 84, 84, 0.303);
    align-items: center;
}
.team:last-of-type {
    border-bottom: none;
}
.team p {
    padding: 16px 4px 16px 4px;
}

.team div {
    display: flex;
    align-items: center;
}

.teams .c3 a,.teams .c3 button  {
    padding: 8px 12px 8px 12px;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.teams .c3a {
    background-color: rgb(100, 180, 255);
}
.teams .c3a:hover {
    background-color: rgb(46, 154, 255);
}
.teams .c3a:active {
    background-color: rgb(152, 205, 255);
}
.teams .c3b {
    background-color: rgb(253, 98, 98);
}
.teams .c3b:hover {
    background-color: rgb(255, 41, 41);
}
.teams .c3b:active {
    background-color: rgb(255, 164, 164);
}



.teams .bg-ddb {
    background-color: #020e13;
}
.TeamsGet .bg-db {
    background-color: #103237;
}
.TeamsGet .bg-w {
    background-color: white;
}

.TeamsGet .s-w {
    box-shadow: 1px 1px 8px rgb(188, 188, 188);
}
.TeamsGet .s-db {
    box-shadow: 1px 1px 8px #103237;
}

.TeamsGet .b-w {
    border-bottom: 2px solid white;
}
.TeamsGet .b-b {
    border-bottom: 2px solid black;
}

.TeamsGet .t-b {
    color: black;
}
.TeamsGet .t-w {
    color: white;
}
.TeamsGet .t-g {
    color: rgba(255, 255, 255, 0.636);
}

.TeamsGet .cInput input, .TeamsGet .cInput select {
    color: white;
    background-color: #00000000;
    padding: 4px 10px 4px 6px;
    border: 2px solid #245f68;
    border-radius: 4px;
    outline: none;
}
.TeamsGet .cInput input:focus, .TeamsGet .cInput select:focus {
    outline: thick double #245f68;
    border: 2px solid #00000000;
}